[submodule "contrib/rapidjson"]
	path = contrib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "contrib/libdwarfparser"]
	path = contrib/libdwarfparser
	url = https://github.com/ssentanoe/libdwarfparser
[submodule "contrib/libvmi"]
	path = contrib/libvmi
	url = https://github.com/libvmi/libvmi.git
[submodule "xen"]
	path = xen
	url = https://github.com/thomasdangl/xen.git
	branch = stable-4.14
