[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libdwarfparser"]
	path = libdwarfparser
	url = https://github.com/ssentanoe/libdwarfparser
[submodule "libvmi"]
	path = libvmi
	url = https://github.com/libvmi/libvmi.git
[submodule "librdkafka"]
	path = librdkafka
	url = https://github.com/edenhill/librdkafka
