# Ignore the build and lib dirs
build

# Ignore Mac specific files
.DS_Store
*.swp

# Ignore Clion files
.idea/
log.txt
.DS_Store

# Ignore build system related stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

